Binaries/
Build/

ClientWithJoincode&Play4/
ClientWithJoincode&Play5/
ClientWithJoincode&Play6/
ClinetWithJoinCode/
DerivedDataCache/
GameTest/
Intermediate/
Plugins/
Saved/

ServerBuildTest5/
ServerBuildTest6/
ServerBuildTest7/
.vscode/
.vs/
*.sln
*.opensdf
*.sdf
*.suo
*.tmp
*.log
*.db